@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #fafafa;
}

.israel { /* só pra testar a interação com a pagina inicial, depois eu excluo */
    width: 500px;
    height: 200px;
    background-color: #EC362D;
    margin-top: 300px;
    border-radius: 50px;
    cursor: pointer;
}


.topo {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
.topo span {
    font-size: 37px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms linear;
}
.topo span:hover {
    font-size: 50px;
    transition: all 300ms linear;
    cursor:zoom-in;
    color: yellow;
}

.container, .perguntaFechada, .nivelFechada{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.criacaoQuizz {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
    
}
.criacaoQuizz h1 {
    font-size: 23px;
    font-weight: bold;
}

.criacaoConteudo {
    width: 600px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.criacaoTitulo {
    margin-bottom: 40px;
}
.criacaoConteudo h2, .criacaoConteudoMini h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
}
.criacaoConteudoMini {
    width: 100%;
    height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.criacaoConteudoMini img {
    cursor:pointer;
}


.box-input {
    width: 564px;
    height: 46px;
    border: solid 1px #D1D1D1;
    border-radius: 5px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    padding: 25px;
}
.box-input input {
    width: 100%;
    font-size: 19px;
    outline: none;
    border: none;
    resize: none;
    
}
.box-input input::placeholder {
    color: #BABABA;
    font-style: italic;
}

.botaoVermelho370, .botaoVermelho221, .botaoVermelho221Branco {
    width: 370px; /* muda pra 325px no mobile */
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    color: #FFF5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 60px;
}

.botaoVermelho221, .botaoVermelho221Branco {
    width: 221px;
}
.botaoVermelho221Branco {
    background-color: #fafafa;
    color: #818181;
    margin-top: -30px;
}

.botaoVermelho370:hover, .botaoVermelho221:hover {
    background-color: #be160d;
    cursor: pointer;
}
.botaoVermelho221Branco:hover {
    background-color: #eccaca;
    cursor: pointer;    
}

.criacaoConteudoFinal {
    background-color: rgb(243, 139, 139);
    width: 500px;
    height: 266px;
    margin-bottom: 45px;
    border-radius: 5px;
    position: relative;
}
.criacaoConteudoFinal img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}
.gradiente {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}
.criacaoConteudoFinal h1 {
    margin: 25px;
    bottom: 0px;
    position: absolute;
    color: #FFFFFF;
    font-weight: normal;
}

.escondido {
    display: none;
}